%h1 
  New flux

%form{method: 'post', action: "/#{params[:user]}/flux/create"}
  %label
    Name
  %input{type: 'text', name:'name'}
  %label
    Url
  %input{type: 'text', name:'url'}
  %input{type: 'submit'}
